/*variables en css
*/


:root{ 
--violeta:#21243d;
--rosa:#ed6663;
--blanco:#f7f7f7;
--azul:#0f4c81;
}

:root{
	--title:35px;
	--text:19px;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fredericka+the+Great&display=swap');


 *{
 	margin:0px;
 	padding:0;
 	box-sizing: border-box; 
}
 
 body{
 	background: var(--blanco);
    font-family: 'Raleway', sans-serif;
 }


 .menu{
 	position:fixed;
 
 	width:100%;
 	height:60px;
 	background: white;
 	color: var(--violeta);

 	display:flex;
 	justify-content: space-between;
 	align-items: center;
 	z-index:999;
 }

.logo-box {
	width: 30%;
	height: 60px;
	margin-left: 2%;
	display:flex;
}

h1 a{
color:var(--violeta);
font-family: 'Rock Salt', cursive;
text-decoration: none;
}


.nav__ul{
	list-style: none;
	width:70%;
	height:60px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.nav__li a {
	text-decoration: none;
	font-size:18px;
	font-family: 'Amatic SC', cursive;
 	color:var(--violeta);
 	margin: 0px 10px;
    padding:8px;
    border-radius: 24px;
    transition: 0.3s;
}

.nav__li a:hover{
	background-color: var(--violeta);
	color: white ;
}

.nav__responsive-ul{
	display: none; }













/*IMG HEADER*/
.img-header {
	width:100%;
	height: 40em;
	position: relative;
	
	background-image:url(imagenes/pinceles.jpg);
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.welcome{

	position:absolute;
	top:50px;
	width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}

.welcome h1{
	font: 3em Balsamiq Sans, cursive;
	color:rgba(255, 255, 255, 0.877);
	text-transform: uppercase;
	font-weight: 700;
}

.welcome p {
	font:1.5em Balsamiq Sans, cursive;
	color:white;
	padding-bottom: 20px	
}

.welcome__btns{
	width: 50%;
}

.welcome__btns button{
	background-color: transparent;
	border: 2px  solid var(--blanco);
	text-decoration: none;
	padding:10px;
	margin-left:20px;
	color:white;
	transition: 0.4s;
}

.welcome__btns button:hover{
	color:tomato;
}

/*PORTAFOLIO*/

#portafolio{
	padding:50px;
	display:flex;
	flex-direction: column;
}
.container-titulo{
	width: 100%;
	padding-bottom:70px;
}

.container-titulo h2{
	font:bold 1.3em 'Fredericka the Great', cursive;
    color: var(--violeta);
 	border:2px solid var(--violeta);
    padding:20px;
    text-align: center;
    width: 40%;
    margin: auto;
}

.container-imgport{
	display: flex;
	flex-wrap:wrap;
}

.container-img{
	width: 300px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
	height:300px;
	overflow: hidden;
	margin:20px auto;
  }
  
  .container-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
  }


/*SERVICIOS*/

.servicios{
	width: 100%;
	height: 30em;
}

.servicios-titulos{
	height: 100px;
	text-align: center;
	font-size: 26px; 
	display: flex;
	flex-direction: column;
}

.container-servicios{
	width: 100%;
	height: 20em;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.contenedor-retratoNegro, .contenedor-retratoColor{
	width: 45%;
	height: 300px;
	border:1.5px dashed var(--violeta);

	display: flex;
	justify-content: space-around;
	align-items: center;

	padding: 10px;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.contenedor-retratoNegro:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.contenedor-retratoColor:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

img{
	width:200px;
}


/*PASOS A SEGUIR*/

.instrucciones{
	width: 100%;
	height: 30em;
} 

.instrucciones-titulo {
 	border:2px solid var(--violeta);
    padding:10px;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;

}
.instrucciones-titulo h4{
   	font:bold 1.3em 'Fredericka the Great', cursive;
    color: var(--violeta);
    }

.box-instrucciones{
	width:100%;
	margin-top:40px;
	
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.card-instrucciones{
	width:30%;
	height:250px;
	padding:10px;

	color: var(--violeta);
	
	border: 3px solid var(--rosa);
	border-radius: 24px;
	
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: space-between;

	position: relative;
}

.card-instrucciones:hover{
	background-color: var(--violeta);
	color: var(--rosa);
	transition:0.5s;
}

.instrucciones-text{
	padding:15px;
}

.instrucciones-text h6 {
	font:bold 1.3em 'Fredericka the Great', cursive;
	text-align:center;
	margin-bottom:30px;
	margin-left:0;
}

.card-img {
	width: 60px;
 	height: 60px;
 	font-size: 40px;
 	padding:5px;

	text-align: center;
	color:white;
	background-color: var(--violeta);
	
	border-radius: 50%;
	-webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
 	box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
 	text-shadow: 0 1px 0 rgba(255,255,255,0.3);

 	position: absolute;
	left: -30px;
	top: 7.5px;
}

.card-img:hover{
	background-color: var(--rosa);
}



/* CONTACTO*/

.contacto{
	width:100%;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("imagenes/pinceles.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.contenedor-contacto-izq{
	width: 30%;
	height: 40em;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	position: relative;
}

.titulo-contacto{
	width: 50%;
	padding:40px;
	margin:auto;
	text-align: center;
	color:#f7f7f7;
}

.titulo-contacto h6 {
	width: 100%;
	font: var(--title) Balsamiq Sans, cursive;
	margin: 10px 0; 
}

.contacto-contenido{
	display:flex;
	padding-bottom:100px;
}
.contacto-redesSociales{
	width: 30%;
	padding-left:50px;
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	color:white;
	text-decoration: none;
}
.contacto-redesSociales i{
	width: 60px;
 	height: 60px;
 	font-size: 40px;
 	line-height: 1.6;
	text-align: center;
	background-color: var(--rosa);
	border-radius: 50%;
	-webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
 	box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
}

.contacto-redesSociales i:hover{ background: var(--violeta);}

.container-form{
	width:60%;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 2px  solid var(--rosa);
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
}



/*FOOTER*/
footer{
	width:100%;
	height: 40px;
	border-top:2px solid var(--violeta);

	font:italic 16px Arial;
	color:var(--violeta);
	line-height: 2.5;
	background: #f7f7f7;

	display: flex;
	justify-content: center;
}
