/*variables en css
*/

:root{ 
--violeta:#21243d;
--rosa:#ed6663;
--blanco:#f7f7f7;
--azul:#0f4c81;
}

:root{
	--title:35px;
	--text:19px;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

 *{
 	margin:0px;
 	padding:0;
 	box-sizing: border-box; 
}
 
 body{
 	background: var(--blanco);
    font-family: 'Raleway', sans-serif;
 }
html{
	scroll-behavior: smooth;
}

 .menu{
 	position:fixed;
 
 	width:100%;
 	height:60px;
 	background:var(--blanco);
 	color: var(--violeta);

 	display:flex;
 	justify-content: space-between;
 	align-items: center;
 	z-index:999;
 }

.logo-box {
	width: 30%;
	height: 60px;
	margin-left: 2%;
	display:flex;
}

	.logo-box h1 a{
	color:var(--violeta);
	font-family: 'Rock Salt', cursive;
	text-decoration: none;
	}


.nav__ul{
	list-style: none;
	width:70%;
	height:60px;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.nav__li a {
	text-decoration: none;
	font-size:18px;
	font-family: 'Amatic SC', cursive;
 	color:var(--violeta);
 	margin: 0px 10px;
}

.nav__li a:hover{
	text-decoration: underline wavy var(--rosa);
	transition:0.3s;
}

.nav__responsive-ul{
	display: none; }


#menu__icon{
	display:none;
}


/*IMG HEADER*/
.img-header {
	width:100%;
	height: 40em;
	position: relative;
	
	background-image:url(imagenes/pinceles.jpg);
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.welcome{
	position:absolute;
	top:50px;
	width: 100%;
	height: 100%;
	padding:35px;
    background: rgba(0,0,0,0.6);

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}


.welcome p{
	/* font: 3em Balsamiq Sans, cursive; */
	font: 3em 'Hind', sans-serif;
	color:rgba(255, 255, 255, 0.877);
	text-transform: uppercase;
	/* font-weight: 700; */
}

.welcome h2 {
	/* font:1.5em Balsamiq Sans, cursive; */
	font: 1.5em 'Hind', sans-serif;
	color:white;
	padding-bottom: 20px	
}

.welcome__btns button{
	background-color: transparent;
	border: 2px  solid var(--blanco);
	text-decoration: none;
	padding:10px;
	color:white;
	transition: 0.4s;
}

.welcome__btns button:hover{
	color:var(--rosa);
}

/*PORTAFOLIO*/

#portafolio{
	padding:50px;
	display:flex;
	flex-direction: column;
}
.container-titulo{
	width: 100%;
	padding-bottom:50px;
	font-size: 1em;
}

.container-titulo h2{
    color: var(--violeta);
 	border:2px solid var(--violeta);
    padding:20px;
    text-align: center;
    width: 40%;
    margin: auto;
}

.container-imgport{
	display: flex;
	flex-wrap:wrap;
}

.container-img{
	width: 300px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
	height:300px;
	overflow: hidden;
	margin:20px auto;
  }
  
  .container-img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
  }

/*-----------------------------------------OVERLAY-----------------------------------------------*/

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay.activo{
	display: flex;
}
.contenedor_img{
	position: relative;
}
.overlay #btn_cerrar_pop{
    background: none;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}
.overlay img{
	width: 450px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
	height:450px;
	
}
/*SERVICIOS*/

.servicios{
	width: 100%;
	padding:70px 0;
}

.servicios-titulos{
	padding-bottom: 50px;
	text-align: center;
	font-size: 26px; 
	display: flex;
	flex-direction: column;
}

.container-servicios{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
}

.contenedor-retratoNegro, .contenedor-retratoColor{
	width: 45%;
	border:1.5px dashed var(--violeta);

	display: flex;
	justify-content: space-around;
	align-items: center;

	padding: 25px;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.contenedor-retratoNegro:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.contenedor-retratoColor:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

img{
	width:200px;
}


/*PASOS A SEGUIR*/

.instrucciones{
	width: 100%;
	padding:70px 30px;
} 


.instrucciones-titulo {
	width: 100%;
	font-size:1.5em;
}
.instrucciones-titulo h4{
	color: var(--violeta);
	border:2px solid var(--violeta);
   	padding:20px;
   	text-align: center;
   	width: 40%;
   	margin: auto;
} 

.box-instrucciones{
	width:100%;
	margin-top:40px;
	
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.card-instrucciones{
	width:30%;
	height:250px;
	padding:10px;

	color: var(--violeta);
	
	border: 3px solid var(--rosa);
	border-radius: 24px;
	
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: space-between;

	position: relative;
}

.card-instrucciones:hover{
	background-color: var(--violeta);
	color: var(--rosa);
	transition:0.5s;
}

.instrucciones-text{
	padding:15px;
}

.instrucciones-text h6 {
	font:bold 1.3em 'Fredericka the Great', cursive;
	text-align:center;
	margin-bottom:30px;
	margin-left:0;
}

.card-img {
	width: 60px;
 	height: 60px;
 	font-size: 40px;
 	padding:5px;

	text-align: center;
	color:white;
	background-color: var(--violeta);
	
	border-radius: 50%;
	-webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
 	box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
 	text-shadow: 0 1px 0 rgba(255,255,255,0.3);

 	position: absolute;
	left: -30px;
	top: 7.5px;
}

.card-img:hover{
	background-color: var(--rosa);
}


/* CONTACTO*/
.contacto{
	width:100%;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("imagenes/pinceles.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.contenedor-contacto-izq{
	width: 30%;
	height: 40em;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	position: relative;
}

.titulo-contacto{
	padding:40px;
	margin:auto;
	text-align: center;
	color:var(--blanco);
}

.titulo-contacto h6 {
	font-size: var(--title);
	margin: 10px 0; 
}

.contacto-contenido{
	display:flex;
	padding-bottom:100px;
}
.contacto-redesSociales{
	width: 30%;
	padding-left:50px;
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	color:white;
	text-decoration: none;
}
.contacto-redesSociales i{
	width: 60px;
 	height: 60px;
 	font-size: 40px;
 	line-height: 1.6;
	text-align: center;
	background-color: var(--rosa);
	border-radius: 50%;
	-webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
 	box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.3);
}

.contacto-redesSociales i:hover{ background: var(--violeta);}

.container-form{
	width:60%;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 2px  solid var(--rosa);
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
}



/*FOOTER*/
footer{
	width:100%;
	height: 40px;
	border-top:2px solid var(--violeta);

	font:italic 16px Arial;
	color:var(--violeta);
	line-height: 2.5;
	background: #f7f7f7;

	display: flex;
	justify-content: center;
}


/*///////////////// RESPONSIVE //////////////////*/
@media (max-width: 1199.98px)  {
	.contacto-contenido{
		flex-direction:column-reverse;
		padding-bottom: 50px;
	}

	.container-form{
		align-self: center;
	}

	.contacto-redesSociales{
		width: 100%;
		margin-top:50px;
		flex-direction: row;
	}
}

@media (max-width: 930px){
	#menu__icon{
		display:block;
		font-size:30px;
		margin:10px;
		cursor: pointer;
	}

	.nav{
        position: fixed;
		width:30%;
		height:350px;
		background-color:var(--blanco);
		color:var(--violeta);
        top: 60px;
        left: 0;
        text-align: center;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
		z-index: 99;
	}
	
	.nav__ul{
		width: 100%;
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

    .nav__li{
        display: block;
        margin: 20px 0;
    }
    .nav.show{
        transform: translateX(1px);
	}
	
	.container-servicios{
		flex-direction: column;
		align-items: center;
	}

	.contenedor-retratoNegro, .contenedor-retratoColor{
		width: 80%;
		margin:20px 0;
	}

	.box-instrucciones{
		flex-direction: column;
	}

	.card-instrucciones {
		width: 85%;
		margin:15px 0;
	}
}

@media (max-width:768px){
	.contacto-redesSociales div{
		padding:10px;
	}
	.contacto-redesSociales{
		width: 100%;
		flex-direction: column;
	}

	
}
@media (max-width:680px){
	.container-titulo h2, .instrucciones-titulo h4{
		width:70%;
	}

	.contenedor-retratoNegro, .contenedor-retratoColor{
		flex-direction: column;
	}

	.servicios__p{
		padding-bottom: 25px;
	}

}
@media (max-width:500px){
	.img-header {
		background-image:url(imagenes/pinceles_responsive.jpg);
	}
}

@media (max-width:430px){
	
	.overlay img{
		width: 350px;
		height:350px;	
	}

	.welcome p{
		font: 2em 'Hind', sans-serif;
	}

	.container-form{
		width: 85%;
	}
}

